{
    "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"]
    }
}
